
.blog
{
	padding-top: 80px;
	padding-bottom: 100px;
	background: #FFFFFF;
}
.blog_posts
{
	width: 100%;
	flex-wrap: wrap;
}
.blog_post
{
	width: calc((100% - 60px) / 3);
	height: 290px;
	margin-bottom: 30px;
	border-radius: 5px;
	box-shadow: 0px 5px 20px rgba(0,0,0,0.1);
	z-index: 0;
	-webkit-transition: all 200ms ease;
	-moz-transition: all 200ms ease;
	-ms-transition: all 200ms ease;
	-o-transition: all 200ms ease;
	transition: all 200ms ease;
}
.blog_post:hover
{
	border-bottom-left-radius: 0px;
	border-bottom-right-radius: 0px;
	z-index: 1;
}
.blog_image
{
	width: 100%;
	height: 160px;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center center;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
}
.blog_text
{
	padding-left: 31px;
	padding-right: 31px;
	padding-top: 21px;
	padding-bottom: 30px;
	font-size: 18px;
	font-weight: 500;
}
.blog_button
{
	position: absolute;
	top: 100%;
	left: 0;
	width: 100%;
	height: 48px;
	background: #0e8ce4;
	text-align: center;
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
	visibility: hidden;
	opacity: 0;
	-webkit-transition: all 200ms ease;
	-moz-transition: all 200ms ease;
	-ms-transition: all 200ms ease;
	-o-transition: all 200ms ease;
	transition: all 200ms ease;
}
.blog_button:hover
{
	background: #0982d7;
}
.blog_post:hover .blog_button
{
	visibility: visible;
	opacity: 1;
}
.blog_button a
{
	display: block;
	color: #FFFFFF;
	line-height: 48px;
	font-size: 18px;
}



/************
6. 991px
************/

@media only screen and (max-width: 991px)
{

	.char_col:not(:last-child):not(:nth-child(3))
	{
		margin-bottom: 30px;
	}
	.char_item
	{
		padding-left: 36px;
	}
	.blog_post
	{
		width: calc((100% - 30px) / 2);
	}

}


/************
10. 767px
************/

@media only screen and (max-width: 767px)
{
	.char_col:nth-child(3)
	{
		margin-bottom: 30px;
	}
	.char_item
	{
		padding-left: 36px;
	}
	.blog_post
	{
		width: 100%;
	}
}

/************
11. 575px
************/

@media only screen and (max-width: 575px)
{
	h2{font-size: 24px;}
	p{font-size: 13px;}

	.button
	{
		height: 32px;
	}
	.button a
	{
		font-size: 12px;
		line-height: 32px;
		padding-left: 25px;
		padding-right: 25px;
	}
	.rating_r i::before
	{
		font-size: 14px;
	}
	.blog_text
	{
		font-size: 16px;
	}
	.single_post_quote
	{
		padding-left: 40px;
		padding-right: 40px;
	}

}


/************
12. 480px
************/

@media only screen and (max-width: 480px)
{
	.single_post_title
	{
		font-size: 24px;
	}
	.single_post_text p
	{
		font-size: 14px;
	}
}
