
/*********************************
4. Blog
*********************************/

.single_post
{
	padding-top: 85px;
	padding-bottom: 82px;
}
.single_post_title
{
	font-size: 30px;
	font-weight: 500;
}
.single_post_text
{
	margin-top: 33px;
}
.single_post_text p
{
	font-size: 18px;
	font-weight: 300;
	color: rgba(0,0,0,0.7);
	line-height: 2;
}
.single_post_text p:not(:first-of-type)
{
	margin-top: 42px;
}
.single_post_quote
{
	margin-top: 43px;
	border: solid 1px #e8e8e8;
	box-shadow: 0px 1px 5px rgba(0,0,0,0.1);
	padding-left: 60px;
	padding-right: 60px;
	padding-top: 35px;
	padding-bottom: 40px;
}
/* .quote_image
{

} */
.quote_text
{
	font-size: 16px;
	font-weight: 400;
	color: rgba(0,0,0,0.7);
	margin-top: 28px;
	line-height: 1.875
}
.quote_name
{
	font-size: 16px;
	font-weight: 500;
	margin-top: 23px;
}



/************
4. 1199px
************/

@media only screen and (max-width: 1199px)
{

	.char_item
	{
		padding-left: 25px;
	}

}



/************
6. 991px
************/

@media only screen and (max-width: 991px)
{

	.char_col:not(:last-child):not(:nth-child(3))
	{
		margin-bottom: 30px;
	}
	.char_item
	{
		padding-left: 36px;
	}
	.blog_post
	{
		width: calc((100% - 30px) / 2);
	}

}



/************
10. 767px
************/

@media only screen and (max-width: 767px)
{

	.char_col:nth-child(3)
	{
		margin-bottom: 30px;
	}
	.char_item
	{
		padding-left: 36px;
	}
	.blog_post
	{
		width: 100%;
	}
}

/************
11. 575px
************/

@media only screen and (max-width: 575px)
{
	h2{font-size: 24px;}
	p{font-size: 13px;}

	.button
	{
		height: 32px;
	}
	.button a
	{
		font-size: 12px;
		line-height: 32px;
		padding-left: 25px;
		padding-right: 25px;
	}
	.rating_r i::before
	{
		font-size: 14px;
	}
	.blog_text
	{
		font-size: 16px;
	}
	.single_post_quote
	{
		padding-left: 40px;
		padding-right: 40px;
	}



}



/************
12. 480px
************/

@media only screen and (max-width: 480px)
{
	.single_post_title
	{
		font-size: 24px;
	}
	.single_post_text p
	{
		font-size: 14px;
	}
}

