
	<!-- Home -->

	<!-- <div class="home">
		<div class="home_background parallax-window" data-parallax="scroll" data-image-src="assets/images/shop_background.jpg"></div>
		<div class="home_overlay"></div>
		<div class="home_content d-flex flex-column align-items-center justify-content-center">
			<h2 class="home_title">Smartphones & Tablets</h2>
		</div>
  </div> -->

  <!-----shop------>
 <app-blog-home></app-blog-home>
<div class="shop">
  <div class="container">
    <div class="row">
      <div class="col-lg-3">
        <app-shop-sidebar></app-shop-sidebar>
      </div>
      <div class="col-lg-9">
       <app-shop-content></app-shop-content>
      </div>
    </div>
  </div>
</div>
<app-recently-viewed></app-recently-viewed>
<app-brands></app-brands>










